log/*.log
log/*.pid
tmp/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
*.swp
*
.DS_Store
.loadpath
.project
*~
db/sphinx/*
stylesheets/*
config/development.sphinx.conf
config/slave.sphinx.conf
config/database.yml
config/sphinx.yml
config/elasticsearch.yml
.sass-cache/
public/stylesheets/*
public/images/sprites/
dump.rdb
coverage/*
coverage/**/*
spec/fixtures/files/temp/*
security/brakeman_full_report.html
